$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 1rem;

$color-white: #fff;
$color-light-grey: #e8e8e8;
$color-light-blue: rgb(17, 145, 173);

$color-red: #ff7e8b;
$color-red-2: rgb(239, 79, 95);
$color-red-3: rgb(224, 53, 70);