@import "abstracts/variables";
@import "abstracts/mixins";

@import "layout/grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Okra,Helvetica,sans-serif;
}

a {
  color: $color-white;
  text-decoration: none;
}

.header {
  position: relative;
  background-image: url("../static/imgs/food-on-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  max-height: 56.8rem;
  min-height: 28.0rem;

  &__nav {
    width: 100rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.5rem;

    &--link {
      font-size: 1.5rem;
    }
  }
}


.account {
  float: right;

  &__name {
    font-size: 2rem;
    color: $color-white;
  }
  
  &__pic {
    border-radius: 50%;
    width: 4rem;
  }
}

.header-main {
  position: absolute;
  left: 50%;
  bottom: 46%;
  transform: translateX(-50.5%);
  width: 100%;
  text-align: center;
  padding: inherit;

  &__img {
    height: 5.9rem;
    margin-bottom: 3rem;
  }
  
  &__sub-title {
    color: $color-white;
    font-size: 3.5rem;
  }
}

.takeaway-ad {
  background-image: url(../static/imgs/delivery.png);
  height: 23rem;
  margin-top: 4rem;
  background-size: cover;
  border-radius: 1rem;
  background-position: center;
  color: $color-white;
  padding: 2.7rem;
  overflow: hidden;

  &__top-text {
    font-size: 2.8rem;
  }
  
  &__middle-text {
    font-size: 3.5rem;
    width: 70rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  &__bottom-text {
    font-size: 2rem;
  }
}

.categories {
  &__box {
    height: 20rem;
    border-radius: 1rem;
    position: relative;
    transition: all 0.2s;

    &--text-box {
      background-color: $color-white;
      position: absolute;
      bottom: 0;
      width: 100%;
      border: 1px solid $color-light-grey;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 1.5em 0;

      p {
        font-size: 2rem;
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 760px) {
  .content {
    margin: 0 1.8rem
  }

  .header {
    padding: 0 2rem;
  }

  .categories {
    &__box {
      &--text-box {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

