@import "base/typography";
@import "base/base";

@import "abstracts/variables";
@import "abstracts/mixins";

@import "layout/grid";

@import "components/category-box";

.box {
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

.header {
  position: relative;
  background-image: url("../static/imgs/food-on-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  max-height: 56.8rem;
  min-height: 28.0rem;

  &__nav {
    width: 100rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.5rem;

    &--link {
      font-size: 1.5rem;
      color: $color-white
    }
  }
}


.account {
  float: right;
  position: relative;

  &__name {
    font-size: 1.8rem;
    color: $color-white;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0 1rem;
  }
  
  &__pic {
    border-radius: 50%;
    width: 4rem;
  }
}

.header-main {
  position: absolute;
  left: 50%;
  bottom: 46%;
  transform: translateX(-50.5%);
  width: 100%;
  text-align: center;
  padding: inherit;

  &__img {
    height: 5.9rem;
    margin-bottom: 3rem;
  }
  
  &__sub-title {
    color: $color-white;
    font-size: 3.5rem;
  }
}

.takeaway-ad {
  background-image: url(../static/imgs/delivery.png);
  height: 23rem;
  margin-top: 4rem;
  background-size: cover;
  border-radius: 1rem;
  background-position: center;
  color: $color-white;
  padding: 2.7rem;
  overflow: hidden;

  &__top-text {
    font-size: 2.8rem;
  }
  
  &__middle-text {
    font-size: 3.5rem;
    width: 70rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  &__bottom-text {
    font-size: 2rem;
  }
}

.collections {
  &__title.row {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__description {
    font-size: 1.8rem;
    padding-right: 1.2rem;
  }

  &__link {
    position: relative;
    padding-left: 1rem;
    
    a {
      color: $color-red;
      font-size: 1.7rem;

      &:hover {
        color: darken($color: $color-red, $amount: 5%)
      }
    }

    &--text {
      max-width: 90%;
      display: inline-block;
    }

    &--arrow {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  &__boxes {
    margin-top: 3rem;
    margin-bottom: 3rem; // TODO: Temporary
  }
}

.collection-box {
  height: 28rem;
  background-size: cover;
  border-radius: 1rem;
  position: relative;

  &-1 {
    background-image: linear-gradient(to bottom, rgba($color-light-grey, 0.1) 50%, rgba(0,0,0,.8) 100%), url("../static/imgs/alaska.avif");
  }

  &-2 {
    background-image: linear-gradient(to bottom, rgba($color-light-grey, 0.1) 50%, rgba(0,0,0,.8) 100%), url("../static/imgs/pretty-restaurant.jpeg");
  }

  &-3 {
    background-image: linear-gradient(to bottom, rgba($color-light-grey, 0.1) 50%, rgba(0,0,0,.8) 100%), url("../static/imgs/vegan.avif");
  }

  &-4 {
    background-image: linear-gradient(to bottom, rgba($color-light-grey, 0.1) 50%, rgba(0,0,0,.8) 100%), url("../static/imgs/eco.avif");
  }

  &__text {
    color: $color-white;
    font-size: 1.7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


@media only screen and (max-width: 760px) {
  .content {
    margin: 0 1.8rem
  }

  .header {
    padding: 0 2rem;
  }

  .categories {
    &__box {
      &--text-box {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

