* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Okra,Helvetica,sans-serif;
}

.header {
  position: relative;
  background-image: url("../static/imgs/food-on-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  max-height: 568px;
  min-height: 280px;
}

.header-title-box {
  position: absolute;
  left: 50%;
  bottom: 45%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: inherit;
}

.header-title-img {
  height: 79px;
  padding-bottom: 20px;
}

.header-sub-title {
  color: #fff;
  font-size: 35px;
}

.takeaway-ad {
  background-image: url(../static/imgs/delivery.png);
  width: 1105px;
  height: 230px;
  margin-top: 40px;
  background-size: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  max-width: 100%;
  background-position: center;
  color: #fff;
  padding: 27px;
  overflow: hidden;
}

.takeaway-ad-top-text {
  font-size: 1.6rem;
}

.takeaway-ad-middle-text {
  font-size: 2.3rem;
  width: 50rem;
  font-weight: bold;
  margin: 20px 0;
}

.takeaway-ad-bottom-text {
  font-size: 1.2rem;
}

@media only screen and (max-width: 760px) {
  .content {
    margin: 0 1.8rem
  }

  .header {
    padding: 0 20px;
  }
}

