body {
  font-family: Okra,Helvetica,sans-serif; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.bold {
  font-weight: 900; }

.row {
  max-width: 114rem;
  margin: 3rem auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 1rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 1rem * 2) / 3) *  2 + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 1rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 1rem * 3) / 4) *  2 + 1rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 1rem * 3) / 4) *  3 + 2 * 1rem); }

.category-box {
  height: 23rem;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s; }
  .category-box__text {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.5em 0; }
    .category-box__text p {
      font-size: 2rem;
      text-align: center; }
  .category-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; }
  .category-box:hover {
    transform: scale(1.05); }

.collection-box {
  height: 28rem;
  background-size: cover;
  border-radius: 1rem;
  position: relative; }
  .collection-box-1 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/alaska.avif"); }
  .collection-box-2 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/pretty-restaurant.jpeg"); }
  .collection-box-3 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/vegan.avif"); }
  .collection-box-4 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/eco.avif"); }
  .collection-box__text {
    color: #fff;
    font-size: 1.7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem; }
    .collection-box__text p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.locality-btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e8e8e8;
  padding: 2rem;
  box-shadow: 1px 2px 1rem 0px rgba(0, 0, 0, 0.1);
  display: block;
  color: #000;
  font-size: 1.8rem; }
  .locality-btn::after {
    content: "";
    display: table;
    clear: both; }
  .locality-btn:hover {
    box-shadow: 1px 5px 1rem 0px rgba(0, 0, 0, 0.1); }
  .locality-btn__text {
    float: left; }
  .locality-btn__arrow {
    float: right; }

.box:not(:last-child) {
  margin-bottom: 5rem; }

.header {
  position: relative;
  background-image: url("../static/imgs/food-on-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  max-height: 56.8rem;
  min-height: 28.0rem; }
  .header__nav {
    width: 100rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.5rem; }
    .header__nav--link {
      font-size: 1.5rem;
      color: #fff; }

.account {
  float: right;
  position: relative; }
  .account__name {
    font-size: 1.8rem;
    color: #fff;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0 1rem; }
  .account__pic {
    border-radius: 50%;
    width: 4rem; }

.header-main {
  position: absolute;
  left: 50%;
  bottom: 46%;
  transform: translateX(-50.5%);
  width: 100%;
  text-align: center;
  padding: inherit; }
  .header-main__img {
    height: 5.9rem;
    margin-bottom: 3rem; }
  .header-main__sub-title {
    color: #fff;
    font-size: 3.5rem; }

.takeaway-ad {
  background-image: url(../static/imgs/delivery.png);
  height: 23rem;
  margin-top: 2rem;
  background-size: cover;
  border-radius: 1rem;
  background-position: center;
  color: #fff;
  padding: 2.7rem;
  overflow: hidden; }
  .takeaway-ad__top-text {
    font-size: 2.8rem; }
  .takeaway-ad__middle-text {
    font-size: 3.5rem;
    width: 70rem;
    font-weight: bold;
    margin: 2rem 0; }
  .takeaway-ad__bottom-text {
    font-size: 2rem; }

.collections__title.row {
  margin-bottom: 1rem; }

.collections__title {
  font-size: 2rem; }

.collections__description {
  font-size: 1.8rem;
  padding-right: 1.2rem; }

.collections__link {
  position: relative;
  padding-left: 1rem; }
  .collections__link a {
    color: #ff7e8b;
    font-size: 1.7rem; }
    .collections__link a:hover {
      color: #ff6574; }
  .collections__link--text {
    max-width: 90%;
    display: inline-block; }
  .collections__link--arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%); }

.localities-section__title {
  font-size: 4rem;
  text-align: center;
  font-weight: 100; }

@media only screen and (max-width: 760px) {
  .content {
    margin: 0 1.8rem; }
  .header {
    padding: 0 2rem; }
  .categories__box--text-box p {
    font-size: 1.5rem; } }

.cta-section {
  margin-top: 12rem;
  width: 100%;
  height: 100%;
  background-color: #fffbf7; }

.cta-content {
  margin: auto;
  width: fit-content;
  padding: 4rem 0; }
  .cta-content::after {
    content: "";
    display: table;
    clear: both; }
  .cta-content__img {
    float: left;
    width: 26rem;
    padding-right: 2rem; }
  .cta-content__installation {
    float: left;
    max-width: 50rem;
    padding-left: 2rem; }
    .cta-content__installation--header {
      font-size: 4.4rem;
      padding-bottom: 3rem;
      font-weight: 100; }
    .cta-content__installation--text {
      font-size: 1.8rem;
      font-weight: 100;
      padding-bottom: 3rem;
      line-height: 3rem; }
  .cta-content__form--radio-group {
    padding-bottom: 2rem; }
  .cta-content__form--radio:not(:last-child) {
    padding-right: 4rem; }
  .cta-content__form--radio {
    display: inline;
    font-size: 1.7rem; }
  .cta-content__form--radio-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid #ff7e8b;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.1rem; }
    .cta-content__form--radio-button::after {
      height: 1.3rem;
      width: 1.3rem;
      content: "";
      display: block;
      border-radius: 50%;
      background-color: #ff7e8b;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s; }
  .cta-content__form--radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 2.7rem; }
  .cta-content__form--radio-input:checked ~ .cta-content__form--radio-label .cta-content__form--radio-button::after {
    opacity: 1; }
  .cta-content__form--radio-input {
    display: none; }
  .cta-content__form--radio-input-email:checked .cta-content__form--input-email {
    display: inline-block; }
  .cta-content__form--input {
    width: 28rem;
    padding: 1.3rem;
    font-size: 1.8rem;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    margin-bottom: 3rem;
    margin-right: 1rem; }
    .cta-content__form--input:focus {
      outline: none;
      border: 1px solid #1191ad; }
    .cta-content__form--input:focus:invalid {
      border: 1px solid #ff7e8b; }
  .cta-content__form--btn {
    padding: 1.6rem 2.4rem;
    background-color: #ef4f5f;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
    transition: box-shadow .2s; }
    .cta-content__form--btn:hover {
      cursor: pointer;
      background-color: #e03546; }
    .cta-content__form--btn:active {
      box-shadow: 1px 5px 1rem 0px rgba(0, 0, 0, 0.1); }
