body {
  font-family: Okra,Helvetica,sans-serif; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 1rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 1rem * 2) / 3) *  2 + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 1rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 1rem * 3) / 4) *  2 + 1rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 1rem * 3) / 4) *  3 + 2 * 1rem); }

.box:not(:last-child) {
  margin-bottom: 5rem; }

.header {
  position: relative;
  background-image: url("../static/imgs/food-on-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  max-height: 56.8rem;
  min-height: 28.0rem; }
  .header__nav {
    width: 100rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.5rem; }
    .header__nav--link {
      font-size: 1.5rem;
      color: #fff; }

.account {
  float: right;
  position: relative; }
  .account__name {
    font-size: 1.8rem;
    color: #fff;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0 1rem; }
  .account__pic {
    border-radius: 50%;
    width: 4rem; }

.header-main {
  position: absolute;
  left: 50%;
  bottom: 46%;
  transform: translateX(-50.5%);
  width: 100%;
  text-align: center;
  padding: inherit; }
  .header-main__img {
    height: 5.9rem;
    margin-bottom: 3rem; }
  .header-main__sub-title {
    color: #fff;
    font-size: 3.5rem; }

.takeaway-ad {
  background-image: url(../static/imgs/delivery.png);
  height: 23rem;
  margin-top: 4rem;
  background-size: cover;
  border-radius: 1rem;
  background-position: center;
  color: #fff;
  padding: 2.7rem;
  overflow: hidden; }
  .takeaway-ad__top-text {
    font-size: 2.8rem; }
  .takeaway-ad__middle-text {
    font-size: 3.5rem;
    width: 70rem;
    font-weight: bold;
    margin: 2rem 0; }
  .takeaway-ad__bottom-text {
    font-size: 2rem; }

.categories__box {
  height: 20rem;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s; }
  .categories__box--text-box {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.5em 0; }
    .categories__box--text-box p {
      font-size: 2rem;
      text-align: center; }
  .categories__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; }
  .categories__box:hover {
    transform: scale(1.05); }

.collections__title.row {
  margin-bottom: 1rem; }

.collections__title {
  font-size: 2rem; }

.collections__description {
  font-size: 1.8rem;
  padding-right: 1.2rem; }

.collections__link {
  position: relative;
  padding-left: 1rem; }
  .collections__link a {
    color: #ff7e8b;
    font-size: 1.7rem; }
    .collections__link a:hover {
      color: #ff6574; }
  .collections__link--text {
    max-width: 90%;
    display: inline-block; }
  .collections__link--arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%); }

.collections__boxes {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.collection-box {
  height: 28rem;
  background-size: cover;
  border-radius: 1rem;
  position: relative; }
  .collection-box-1 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/alaska.avif"); }
  .collection-box-2 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/pretty-restaurant.jpeg"); }
  .collection-box-3 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/vegan.avif"); }
  .collection-box-4 {
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%), url("../static/imgs/eco.avif"); }
  .collection-box__text {
    color: #fff;
    font-size: 1.7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem; }
    .collection-box__text p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

@media only screen and (max-width: 760px) {
  .content {
    margin: 0 1.8rem; }
  .header {
    padding: 0 2rem; }
  .categories__box--text-box p {
    font-size: 1.5rem; } }
