.category-box {
  height: 23rem;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s;

  &__text {
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid $color-light-grey;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.5em 0;

    p {
      font-size: 2rem;
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &:hover {
    transform: scale(1.05);
  }
}